body{
  margin:0;
  color: #FFF;
}

.nav-bar{
  height: 2em;
  font: normal 400 1.5rem  "Lato", sans-serif;
  min-width: 100vw;
  background-color: #080c18;
  display: flex;
  flex-direction: row;
  position: fixed;
  opacity: 0.75;
  z-index: 200;
}

.nav-bar:hover{
  opacity: 0.9;
}

.nav-home{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:10%;
}

.nav-menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 90%;
  list-style-type: none;
  text-align: right;
}

/*     =============    menu mobile    ====================*/

.nav-menu-mobile{
  display:none;
}

.nav-menu-mobile-drop{
  cursor: pointer;
}

.nav-menu-mobile-links {
  display: none;
  background-color: #080c18;
  position: absolute;
  top: 3rem;
  min-width: 100vw;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 5px;
}

.nav-menu-mobile-links a {
  display: block;
  text-decoration: none;
  color: white;
}

.nav-menu-mobile-links a:hover {
  color: #d8d8d8;
}

.nav-menu-mobile:hover .nav-menu-mobile-links {
  display: block;
}

/*   ========================================================   */

.nav-menu li{
  display: inline;
  margin-right: 1.7em;
}

.nav-menu li:last-child{
  margin-right: 3em;
}

.nav-menu li:hover,
.nav-home a:hover{
  color: #d8d8d8;
}

.nav-menu a,
.nav-home a{
  text-decoration: none;
  color: inherit;
}

.top-section{
  height: 100vh;
  width: 100%;
  background: #000000 url("img/keyboard.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline{
  font: normal 400 3rem  "Lato", sans-serif;
  text-shadow: 1px 3px #090d2b;
  text-align: right;
  line-height: 1.6;
}

.man,
.project,
.story,
.contact {
  font: normal 500 4rem "Lato", sans-serif;
  background-color: #090d2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section-head{
  width: 90%;
  text-align: left;
  margin-top: 7rem;
  text-shadow: 3px 3px #818181;
}

.section-description{
  width: 80%;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 200;
  padding:30px;
  line-height: 1.6;
}

.logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-top: 2rem;
}

.logos img{
  max-height: 4rem;
  max-width: 10%;
}

.project-container{
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-around;
  width:90%;
}

.project-pics{
  font-size: 2rem;
  text-align: right;
  width: 30%;
}

.project-pics img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 30px #0f226c;
}

.story-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width:90%;
}

.story-pics{
  font-size: 2rem;
  text-align: right;
  width: 40%;
  margin: 1rem;
}

.story-pics img{
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 30px #a9a9a9;
}

.story-pics-description{
  margin-right:2rem;
  font-style: italic;
  font-size: 1.5rem;
}

.project-pics-hidden,
.story-pics-hidden{
  position: relative;
  top: 100px;
  opacity: 0.2;
  transition: all .9s;
}

.project-pics-shown,
.story-pics-shown {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all .9s;
}

.goodbye{
  font-size: 2rem;
  margin-top: 10rem;
  text-align: center;
}

.copyright{
  font: italic 200 1rem arial narrow sans;
  margin-top: 5em;
  margin-bottom: 2em;
}

/* =========================            mobile        ====================================*/

@media screen and (max-width: 780px){

  .nav-menu{
    display: none;
  }

  .nav-menu-mobile{
    display: flex;
    width:49%;
    align-items: center;
    justify-content: center;
  }

  .nav-home{
    width: 49%;
  }

  .story-pics-description{
    margin-right:1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px){

   .headline{
    font-size: 2rem;
  }

  .project-container,
  .story-container{
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .project-pics{
    min-width: 80%;
    margin: 1rem
  }

  .project-pics img{
    width: 100%;
    height: 200px;
  }

  .story-pics{
    min-width: 80%;
    margin: 1rem
  }

  .story-pics img{
    width: 100%;
    height: 200px;
  }

  .section-description{
    width: 90%;
    font-size: 1.4rem;
    padding:10px;
    line-height: 1.4;
  }

  .logos{
    width: 90%;
  }

  .logos img{
    max-height: 2rem;
  }

}