body{
  margin:0;
  font: normal 500 1.4rem  "Monospaced", sans-serif;
  color: white;
}

.top-section{
  min-height: 100vh;
  width: 100%;
  background: #000000 url("img/keyboard.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar{
  height: 3em;
  min-width: 100vw;
  background-color: #080c18;
  display: flex;
  flex-direction: row;
  position: fixed;
  opacity: 0.75;
}

.name{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:10%;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 90%;
  list-style-type: none;
  text-align: right;
}

.menu li{
  display: inline;
  margin-right: 1.7em;
  text-decoration: none;
}
.menu li:last-child{
  margin-right: 3em;
}

.menu li:hover,
.name a:hover{
  color: #d8d8d8;
}

.menu a,
.name a{
text-decoration: none;
  color: inherit;
}

.headline{
  font: normal 500 3rem  "Monospaced", sans-serif;
  text-shadow: 1px 3px #090d2b;
  color: #FFF;
  width: fit-content;
  text-align: right;
  line-height: 1.6;
}

.man,
.story,
.pics,
.contact {
  font: normal 500 5rem "Monospaced", sans-serif;
  min-height: 70vh;
  background-color: #090d2b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width:90%;
  /*border: 1px yellow solid;*/
}

.section-head{
  width: 90%;
  text-align: left;
  /*border: 1px white solid;*/
  padding:30px;
  margin-top:30px;
}

.section-description{
  width: 80%;
  text-align: left;
  /*border: 1px white solid;*/
  font-size: 2rem;
  padding:30px;
  line-height: 1.4;
}

.story-pics{
  font-size: 2rem;
  text-align: right;
  width: 35%;
  /*border: 1px white solid;*/
  margin: 3rem;
}

.story-pics img{
  max-width: 100%;
  height: 380px;
  border-radius: 5px;
  box-shadow: 0 0 30px #a9a9a9;
}
.story-pics-description{
  margin-right:40px;
}

.story-pics-hidden{
  position: relative;
  top: 120px;
  opacity: 0.2;
  transition: all .9s;
}

.story-pics-shown {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all .9s;
}