html{
  font-size: 16px;
}

body {
  margin:0;
  color: #FFF;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #d8d8d8;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  min-width: 100vw;
  height: 3rem;
  background-color: #080c18;
  font: normal 400 1.5rem  "Lato", sans-serif;
  opacity: 0.75;
  z-index: 200;
}

.nav-bar:hover {
  opacity: 0.9;
}

.nav-home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:10%;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 90%;
  list-style-type: none;
}

.nav-menu ul {
  margin-top: .75rem;
}

.nav-menu-mobile,
.nav-menu-mobile-links,
.nav-home-icon,
.nav-menu-mobile-icon{
  display:none;
}

.nav-menu li {
  display: inline;
  margin: 5em 1.7em 0 0;
}

.nav-menu li:last-child {
  margin-right: 3em;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #000000 url("img/keyboard.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.headline2 {
  font-weight: 400;
  font-family:  "Lato", sans-serif;
  text-shadow: 1px 3px #090d2b;
  text-align: right;
  line-height: 1.6;
  margin: 0 1rem;
}

.man,
.project,
.story,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #090d2b;
  font: normal 500 4rem "Lato", sans-serif;
  margin: 0;
}

.section-head {
  width: 90%;
  text-align: left;
  margin-top: 5rem;
  text-shadow: 3px 3px #818181;
}

.section-description {
  width: 80%;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 200;
  padding:30px;
  line-height: 1.6;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 2rem 0 1rem 0;
}

.logos img {
  max-height: 4rem;
  max-width: 10%;
}

.container {
  width: 55%;
  margin: 1em 0;
}


.carousel {
  width: 100%;
  box-shadow: 0 0 30px #0f226c;
}

.carousel-control {
  width: 25%;
}

.carousel-indicators {
  margin-bottom: -1rem;
}

.carousel-indicators li,
.carousel-indicators .active{
  width: 30px;
  margin: 0 10px;
}

.item {
  height: 60vh;
}

.item img {
  min-width:100%;
  min-height: 80%;
  max-height:81%;
}

.carousel-caption {
  margin-bottom: -.5rem;
}

.img-description {
  font: normal 700 1.3rem "Lato", sans-serif;
  color: #ffffff;
  letter-spacing: 1ch;
  background-color: #090d2b;
}

.story-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width:90%;
}

.story-pics {
  font-size: 2rem;
  text-align: right;
  width: 30%;
}

.story-pics img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 30px #0f226c;
  margin-top: .5rem;
}

.story-pics-description {
  margin-right:1rem;
  font-style: italic;
  font-size: 1.5rem;
}

.pics-hidden {
  position: relative;
  top: 70px;
  opacity: 0.3;
  transition: all .9s;
}

.pics-shown {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all .9s;
}

.contact-area {
  margin-top: 3rem;
  font-size: 1.4rem;
  min-width: 20%;
  line-height: 2.3rem;
}

.contact-description {
  text-align: center;
  font-size: 1.7rem;
}

.contact-form {
  text-align: center;
  line-height: 1.5rem;
}

input,
textarea {
  min-width: 100%;
  height: 2rem;
  border-radius: 5px;
  font: normal 300 1.1rem "Lato", sans-serif;
  padding: 9px;
  color: #090d2b;
}

textarea {
  height: 7rem;
}

.contact-button {
  width: 40%;
  border-radius: 5px;
  font-size:1.2rem;
  padding: 5px;
  color: #000;
  background-color: #bdbdbd;
}

.contact-button:hover {
  background-color: #fff;
  transition: all .8s;
}

.goodbye {
  font-size: 2rem;
  margin-top: 10rem;
  text-align: center;
}

.copyright {
  font-size: 1rem;
  margin-top: 5em;
  margin-bottom: 2em;
}


/* ===    jquery carousel ===      */
/*.carousel {*/
/*width: 50%;*/
/*height: 7em;*/
/*margin: 1em 0 0 1em;*/
/*margin-left: 0;*/
/*}*/

/*.pic-set {*/
/*width: 99%;*/
/*height: 99%;*/
/*position: relative;*/
/*}*/

/*.pic {*/
/*width: 100%;*/
/*display: none;*/
/*position: absolute;*/
/*}*/

/*.pic img{*/
/*width: 100%;*/
/*height: 7em;*/
/*border-radius: 5px;*/
/*box-shadow: 0 0 30px #0f226c;*/
/*}*/

/*.pic:first-child {*/
/*display: block;*/
/*}*/

/*.pic-btn {*/
/*border: 1px #a9a9a9 solid;*/
/*background-color: #080c18;*/
/*border-radius: 50%;*/
/*margin: 0 .5em;*/
/*}*/

/*.pic-btn.active,*/
/*.pic-btn:hover {*/
/*color: #a9a9a9;*/
/*border: 1px #a9a9a9 solid;*/
/*border-radius: 50%;*/
/*cursor: pointer;*/
/*background-color: #a9a9a9;*/
/*text-decoration: none;*/
/*}*/